apiVersion: apps/v1
kind: Deployment
metadata:
  name: login-app
  namespace: surya
spec:
  replicas: 1
  selector:
    matchLabels:
      app: login-app
  template:
    metadata:
      labels:
        app: login-app
    spec:
      containers:
      - name: login-app
        image: suryasaho/login-app:latest
        ports:
        - containerPort: 8080

